<form method="post" action="{{ path('app_folder_delete', {'id': folder.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce dossier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>