<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-absolute top-0 end-0 p-3">
{% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="1000">
      <div class="toast-header bg-{{ label }}">
        {# <img src="..." class="rounded me-2" alt="..."> #}
        <strong class="me-auto">Message</strong>
        {# <small class="text-muted">just now</small> #}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
    {% endfor %}
{% endfor %}
  </div>
</div>